<footer>
    <a href="/" class="logo">
        <img src="/img/logo-book.png" alt="logo" width="85">
        <span>eBookCollection</span>
    </a>
    <div class="footer-bottom">
        <p>built with ♡ by <span>ON</span>atalia</p>
    </div>
</footer>

</body>

</html>