<%- include('partials/header'); -%>
  <main class="main-page">
    <ul class="recipes">
      <li class="book">
        <img src="/books.png" alt="books icon">
        <h4>first book</h4>
        <p>Lorem ipsum dolor sit arjet</p>
      </li>
      <li class="book">
        <img src="/books.png" alt="books icon">
        <h4>second book</h4>
        <p>Lorem ipsum dolor, sit consectetur adipisicing elit</p>
      </li>
      <li class="book">
        <img src="/books.png" alt="book icon">
        <h4>third book</h4>
        <p>Lorem ipsum dolor sit amet consectetur</p>
      </li>
    </ul>
  </main>
  <%- include('partials/footer'); -%>