<%- include('partials/header'); -%>

  <header>
    <div class="header-img">
      <img src="/img/flache-weltbuch-tagesillustratin.png" alt="book illustration" width="650">
    </div>
    <div class="headings">
      <h2>eBook Collection</h2>
      <h3>free ebook collections</h3>
      <a href="/books" class="btn">View eBooks</a>
    </div>
  </header>


  <%- include('partials/footer'); -%>